.loginWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginForm {
  width: 40%;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px 20px 80px 20px;
  text-align: center;
}
.inputField {
  margin-bottom: 15px !important;
}
.cus_forget {
  display: flex !important;
  justify-content: flex-end !important;
  cursor: pointer !important;
}
